name: Validator

on:
  push:
    branches:
    - 'master'

  pull_request:
    branches:
    - 'master'

  merge_group:

permissions:
  contents: read

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: -Dwarnings
  RUST_BACKTRACE: full

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Setup local rust toolchain
      uses: actions-rust-lang/setup-rust-toolchain@v1

    - name: Print release toolchain rustc version
      run: ./scripts/run-with-release-toolchain rustc --version

    - name: Try to build release for the first time
      id: build-release-1
      continue-on-error: true
      run: ./scripts/run-with-release-toolchain cargo build --release --workspace

    - name: Try to build release for the second time
      if: steps.build-release-1.outcome == 'failure'
      run: ./scripts/run-with-release-toolchain cargo build --release --workspace

    - name: Setup AIO requirements for Scylla
      run: sudo sysctl -w fs.aio-max-nr=1048576

    - name: Run the Validator tests

      run: ./scripts/run-validator-with-scylla-docker scylladb/scylla-nightly:2026.1.0-dev-0.20251201.0ed34527215d target/amd64/release/vector-store target/amd64/release/vector-search-validator --verbose

